/* 开始 */

* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

body {
    background: #efefef;
    color: #000;
    margin: 0px;
    padding: 0px;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

a {
    text-decoration: none;
}

.topNavBar {
    padding: 20px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.topNavBar-inner {
    padding: 0px 16px;
}

.topNavBar-inner>a {
    padding-top: 3px;
    padding-bottom: 4px;
    margin-left: 16px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.logo>.rs,
.logo>.Card {
    font-size: 24px;
    color: #e6686a;
    margin-right: 4px;
    font-weight: 700;
    font-family: 'Arial Black';
}

.logo>.Card {
    color: #9a9da2;
}

.topNavBar-inner>nav>ul {
    list-style: none;
    padding: 7px 0px 0px 0px;
    margin: 0;
}

.topNavBar-inner>nav>ul>li {
    float: left;
    margin: 0 17px;
}

.topNavBar-inner>nav>ul>li>a {
    padding: 5px 0;
    font-size: 12px;
    font-weight: 700;
    display: block;
    color: #b7b7b7;
    border-bottom: 3px solid transparent;
    margin-top: 3px;
}

.topNavBar-inner>nav>ul>li>a:hover {
    border-bottom-color: #e06567;
}

.banner {
    height: 515px;
    background-image: url(../img/rs-cover.jpg);
    background-position: center center;
    background-size: cover;
}

.banner>div {
    height: 515px;
    background-color: rgba(0, 0, 0, 0.8)
}


/* 个人信息 */

main {
    margin-top: -335px;
}

.card {
    max-width: 940px;
    margin: 0 auto;
    background: #fff;
}

.pictureAndText {
    padding: 50px;
}

.picture {
    float: left;
}

.picture>img {
    width: 299px;
    height: 347px;
}

.text {
    float: left;
    margin-left: 65px;
    width: 470px;
}

.welcome {
    padding: 4px 16px;
    background: #e6686a;
    color: #fff;
    display: inline-block;
    position: relative;
    line-height: 22px;
    margin-bottom: 10px;
}

.Triangle {
    width: 0px;
    height: 0px;
    border: 10px solid transparent;
    border-left-color: #e6686a;
    border-top-width: 0px;
    position: absolute;
    left: 4px;
    top: 100%;
}

.profile>h1 {
    margin-top: 18px;
}

hr {
    margin: 20px 0px;
}

dl {
    display: block;
}

dl>dt {
    width: 30%;
    font-weight: 700;
    padding: 5px 0px;
    float: left;
}

dl>dd {
    float: left;
    width: 70%;
    color: #9da0a7;
    padding: 5px 0px;
}

.media {
    background-color: #E6686A;
    text-align: center;
}

.media>a {
    margin: 16px;
    display: inline-block;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
}

.media>a:hover {
    background: #CF5D5F;
}

.media>a>svg {
    width: 30px;
    height: 30px;
    fill: #fff;
    vertical-align: top;
    margin-top: 5px;
}

.buttonWrap {
    text-align: center;
}

.button {
    font-size: 14px;
    line-height: 16px;
    padding: 21px 55px;
    display: inline-block;
    border: 1px solid #cdcfd1;
    background: #efefef;
    border-radius: 2px;
    color: #3d4451;
    font-weight: 700;
    margin: 32px 0;
    transition: box-shadow 1s;
}

.button:hover {
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.4);
}

.self-introduction {
    font-family: "楷体";
    font-size: 18px;
    line-height: 1.8;
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
}

section.skills {
    max-width: 940px;
    margin: 60px auto 0px auto;
}

.section-title {
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 30px;
}

.skills>ol {
    background: #fff;
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.4);
    padding: 42px 50px 0;
}

.skills>ol>li {
    float: left;
    width: 48%;
    box-sizing: border-box;
}

.skills>ol>li:nth-child(even) {
    float: right;
}

.skills>ol>li>h3 {
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
}

.progressBar {
    height: 5px;
    background: #fae1e1;
    border-radius: 2px;
    margin: 4px 0 40px 0;
}

.progressBar>.progress {
    height: 100%;
    background: #e6686a;
    width: 70%;
}

.skills1 {
    text-align: center;
}

.skills>nav {
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.sample {
    display: inline-block;
    vertical-align: top;
    border: 1px solid red
}

.sample>li {
    float: left;
    margin-left: 40px;
}

.sample>li:first-child {
    margin-left: 0px;
}

.bar {
    height: 5px;
    background: #fff;
    margin-top: 5px;
    margin-bottom: 100px;
    border-radius: 2px;
}

.bar-inner {
    height: 100%;
    background: #e6686a;
    width: 10%;
    border-radius: 2px;
}